h1 {
    font-size: 15.2749vh;
    color: darkcyan;
    font-family: 'Schoolbell';
    line-height: 0.5;
    text-align: center;
  }
  
  h2 {
    font-size: 15.2749vh;
    color: darkcyan;
    font-family: 'Schoolbell';
    line-height: 0.3;
    text-align: center;
    text-align: center;
  }

  p {
    color:rgb(27, 152, 27);
  }


  body {
    font-family: 'Schoolbell';
    background-color: rgb(255, 255, 255);
   
  }


.font-1 {
 font-family: 'Schoolbell';
  font-size: 7.1283vh;
  text-align: center;
}

.font-2 {
  font-family: 'Schoolbell';
  font-size: 7.1283vh;
  text-align: center;
}

#steps {
  font-family: 'Schoolbell';
  padding-left: 7.1283vh;
  text-align: center;
}

li {
  font-family: 'Schoolbell';
  padding-left: 7.1283vh;
  text-align: center;
}

ul {
  border: 1.0183vh solid rgb(231, 255, 246);
  padding: 3.0550vh;
  text-align: center;
  font-size: 2.0367vh;
}

a{
  font-size: 5.0916vh;
  color: rgb(228, 51, 6);
  font-family: 'Schoolbell';
}

html{
  cursor: nw-resize;
  }