html{
    background-color:  #e12800;
    font-family: Arial, Helvetica, sans-serif;
}

.nutrition-facts {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(255, 255, 255);
    width: 101.8330vh;
    position: absolute;
    left:20%;
    top:4%
}

.nutrition-header {
    font-weight: bold;
    font-size: 6.1100vh;
    display: block;
    margin-left: 6.1100vh;
    margin-top: 8.1466vh
}

.nutrition-header-secondline{
    font-weight: bold;
    font-size: 6.1100vh;
    display: block;
    margin-left: 6.1100vh;
    border-style: none none solid none;
    border-width: 1.5275vh;
    padding-bottom: 1.5275vh;
    margin-right:6.1100vh
}

.ingredients {
    font-weight: bold;
    font-size: 3.0550vh;
    margin-right: 6.1100vh;
    margin-left: 6.1100vh;
}

.single-ingredient {
    display: flex;
    padding-bottom: 1.0183vh;
    padding-top: 1.0183vh;
    border-style: none none solid none;
}

.egg{
    margin-top: 4.0733vh;
}

.ingredient-amount {
    display: inline-block;
    margin-left: auto;
}

.steps{
    font-size: 3.0550vh;
    margin-bottom: 8.1466vh;
}

 .steps-number{
    display: flex;
    padding-top: 2.5458vh;
    margin-left: 6.1100vh;
    font-size: 2.0367vh;
    font-weight: bold;
 }

 .single-steps{
    display:inline-block;

    text-align: right;
    margin-inline-start: 20.3666vh;
    margin-right:6.1100vh;
    font-size: 2.0367vh;
    font-weight: bold;
 }

 .single-steps1{
    display:inline-block;
    text-align: right;
    margin-inline-start: 20.3666vh;
    margin-right:6.1100vh;
    margin-bottom: 8.1466vh;
    font-size: 2.0367vh;
    font-weight: bold;
 }