html{
    background-color:  #e12800;
    font-family: Arial, Helvetica, sans-serif;
}

.nutrition-facts {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(255, 255, 255);
    width: 1000px;
    position: absolute;
    left:20%;
    top:4%
}

.nutrition-header {
    font-weight: bold;
    font-size: 60px;
    display: block;
    margin-left: 60px;
    margin-top: 80px
}

.nutrition-header-secondline{
    font-weight: bold;
    font-size: 60px;
    display: block;
    margin-left: 60px;
    border-style: none none solid none;
    border-width: 15px;
    padding-bottom: 15px;
    margin-right:60px
}

.ingredients {
    font-weight: bold;
    font-size: 30px;
    margin-right: 60px;
    margin-left: 60px;
}

.single-ingredient {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: none none solid none;
}

.egg{
    margin-top: 40px;
}

.ingredient-amount {
    display: inline-block;
    margin-left: auto;
}

.steps{
    font-size: 30px;
    margin-bottom: 80px;
}

 .steps-number{
    display: flex;
    padding-top: 25px;
    margin-left: 60px;
    font-size: 20px;
    font-weight: bold;
 }

 .single-steps{
    display:inline-block;

    text-align: right;
    margin-inline-start: 200px;
    margin-right:60px;
    font-size: 20px;
    font-weight: bold;
 }

 .single-steps1{
    display:inline-block;
    text-align: right;
    margin-inline-start: 200px;
    margin-right:60px;
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: bold;
 }