p{
    font-size: 550%;
    font-family: "Codystar", sans-serif;
    line-height: 0.5;
    text-indent: 60px;
}

button{
    background-color:transparent ;
    border:none;
    padding-left: 0%;
    align-items: center;
}

h1{
    font-size: 100%;
}

h2{
    font-size: 100%;
}

h3{
    font-size: 100%;
}

h4{
    font-size: 100%;
}

h5{
    font-size: 100%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }