h1 {
    color: rgb(239, 255, 236);
    background-color: rgb(74, 181, 60);
  
  }
  
  p {
    color:rgb(27, 152, 27);
  }

  body {
    background-color: linen;
  }

.head-font {
  font-size: 90px;
  font-weight: inherit;
}
.font-1 {
  font-weight: bolder;
  font-size: xx-large;
}

.font-2 {
  font-weight: bolder;
  font-size: larger;
}